<p>Login form</p>
<h2>VALID: {{loginForm.value.username}}</h2>

<button (click)="clicked()">click me!</button>

<form [formGroup]="loginForm" (ngSubmit)="loginFormSubmitted()">
    <input type="text" placeholder="username" formControlName="username">
    <input type="password" placeholder="password" formControlName="password">
    <button>Login</button>
</form>
